libEpub/container.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:opendocument:xmlns:container" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="container">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rootfiles">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="rootfile">
                <xs:complexType>
                  <xs:attribute name="full-path" type="xs:string" use="required" />
                  <xs:attribute name="media-type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>